body{
    background: url('TECH-01.png') no-repeat center;
    min-width: 100%;
    min-height: 1024px;
    max-width: 100%;
    max-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.inputs{
    margin-left: 35%;
    margin-right: 25%;
    margin-top: 25%;
}

.formHeaders{
    background-color: rgb(0, 0, 0); 
    text-align: center;
    color: rgb(248, 248, 248);
    border-radius: 10px;
}

#submit{
    text-align: left;
}

.textInput{
    border-radius: 10px;
    border-color: rgb(153, 135, 135);
    padding: 5px;
}

#sendButtom{
    background-color:rgb(57, 107, 163); 
    border-radius: 10px;
    border-color: aqua;
    padding: 8px 71px 8px 71px;
    color: white;
}